*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 16px
  letter-spacing: 1.2px !important

html
  font-family: Ubuntu !important

body
  position: relative
  +no-cush

#wrapMain
  width: 100%
  height: auto
  margin: 0
  padding: 20px 10px

.borderBlue
  +shadow-5-color(#0410a8)
a
  text-decoration: none !important
hr
  margin: 10vh auto
h1
  width: 100%
  height: auto
  padding: 10px 0
  color: #f4f4f4
  background: #444
  text-align: center
  font-size: 2em
  border: 2px solid #333
  +shadow-5-color(#f6f6f6)
  @media (min-width: 700px)
    font-size: 2.5em
p,
a
  font-size: 1em
  @media (min-width: 700px)
    font-size: 1.5em

// HELLO CONTAINER START
#helloContainer
  padding: 20px 20px 80px
  background: rgba(#f21515, 0.3)
  #sayHello
    margin: 1em auto
    padding: 1em
    font-size: 1.5em
    color: #f8f8f8
    background: #444
    border: 1px solid #f8f8f8
  #myBtn
    width: 80%
    height: auto
    +cush(0 auto, 20px 0)
    //+move(left, translate(20%, 0))
    border: thin solid #333
    border-radius: 15px
    background: #555
    font-size: 1em
    font-weight: 700
    text-align: center
    letter-spacing: 2px
    box-shadow: 1px 1px 5px #f8f8f8
    +b-rad(20px)
    &:hover
      background: #333
      box-shadow: none
// HELLO CONTAINER END


// HELLO LINKS START //
#aLinks
  padding: 1em
  a
    display: flex
    margin: 10px auto
    // +trans-0
    // &:hover
    //   background: #d5d5d5 !important
    //   color: #333 !important
// HELLO LINKS END


.jumbotron
  +cush(20px auto, 10vh 0)
  color: #333
  background:
    image: url(../img/image-mix-01.png)
    size: cover
    attachment: fixed
    position: center center
  #textContainer
    display: block
    +cush(0 0 10vh, 30px)
    text-align: center
    +trans-1
    h2
      font-size: 1.3em
      +box-fluid
      +no-cush
      @media (min-width: 700px)
        font-size: 2.25em
    p
      font-size: 1em
      @media (min-width: 700px)
        font-size: 1.75em


.textChg
  background: $clr-med-grey-half
  box-shadow: 2px 2px 4px 2px #ddd
  //border: thin solid #eee
