html
  position: relative
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 16px
  letter-spacing: 1.5px !important

body
  margin: 0
  padding: 20px 20px 80px
  font-size: 2em
  +text-cinzel
  .hidden
    display: none
  .show
    display: inline !important

//.row
  display: flex
  flex-flow: row

.borderBlue
  +container-shadow-1(#0410a8)
a
  text-decoration: none !important

.jumbotron
  +cush(20px, 10vh 0)
  color: $clr-light-grey
  background:
    image: url(../img/image-mix-01.png)
    size: cover
    attachment: fixed
    position: center center
  .text-container
    +cush(0 0 10vh, 30px)
    text-align: center
    +trans-1
    h2
      +box-fluid

    @media (max-width: 768px) and (orientation: portrait)
      font-size: 1em
    @media (max-width: 768px) and (orientation: landscape)
      font-size: 1em

.textChg
  background: $clr-med-grey-half
  box-shadow: 2px 2px 4px 2px #ddd
  //border: thin solid #eee

.newPicWrap
  +box-config(40%, auto, 20px 30%, 0)
  +trans-1
.newPic
  width: 100%
  height: auto
  margin: 0 auto
  padding: 0
  +trans-1
.newPicChg
  //background-image: url(../img/car-1.png)
  //+bg-cover-fixed
  +box-config(80%, auto, 20px 10%, 0)
  box-shadow: 2px 2px 4px 2px #333
  +trans-1

button
  width: 40%
  height: auto
  +cush(0 30%, 20px 0)
  //+move(left, translate(20%, 0))
  border: thin solid #eee
  background: #555
  font-size: 1.25em
  font-weight: 700
  letter-spacing: 2px
  +container-shadow-1(#ccc)
  +b-rad(20px)

.card-panel
  width: 100%
  margin: 10vh auto
  color: #c7c7c7
  text-shadow: 1px 1px .5px #fff
  img
    background: rgba(22, 22, 22, .0)
  @media (min-width: 993px)
    p
      //float: left
      //width: 60%
      //padding-right: 20px
    .vetteWrap
      float: right
      width: 45%
      height: auto
      //margin-top: 20vh
      //transform: translate(0, 30vh)
      //background-image: url(..img/corvette-1-crop.png)
      //+bg-cover-fixed
    img
      float: right
      width: 45%
      shape-outside: border-box
      shape-margin: 20px
      //width: 100%
